<h1>Editing Book</h1>
<% if @book.errors.any? %>
<div class=error>
<div class="error-top">
 <%= @book.errors.count %>errors prohibited this book from being saved:
</div>
<ul>
    <% @book.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
</ul>
</div>
<%= form_with model: @book do |f| %>
<div class="new-error">Title</div>
<div class="new-error"><%= f.text_field :title %></div>
<div class="new-error">Body</div>
<div class="new-error"><%= f.text_area :body %></div>
<% end %>

<% else %>
<%= form_with model: @book do |f| %>
<div>
  <P>Title</P>
<%= f.text_field :title %>
</div>
<div>
  <p>Body</p>
<%= f.text_area :body %>
</div>
<%= f.submit 'Update Book' %>
<% end %>
<% end %>
<%= link_to "Show", book_path(@book.id) %>
|
<%= link_to "Back", books_path %>