<body class="main">
<h1>Books</h1>

<table>
<div class="index-head">
<div>Title</div>
<div>Body</div>
<div colspan="3"></div>
</div>
<div class="index-main">
<% @books.each do |book| %>
<div class="index-list">
<div class="index-list-item"><%= book.title %></div>
<div class="index-list-item"><%= book.body %></div>
<div class="index-list-item">
    <div class="sed"><%= link_to "Show", book_path(book.id) %></div>
    <div class="sed"><%= link_to "Edit", edit_book_path(book.id) %></div>
    <div class="sed"><%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "本当削除しますか" %></div>
</div>
</div>
<% end %>
</table>


<h2>New book</h2>
<% if @book.errors.any? %>
<div class=error>
<div class="error-top">
 <%= @book.errors.count %>errors prohibited this book from being saved:
</div>
<ul>
    <% @book.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
</ul>
</div>

<%= form_with model: @book do |f| %>
<div class="new-error">Title</div>
<div class="new-error"><%= f.text_field :title %></div>
<div class="new-error">Body</div>
<div class="new-error"><%= f.text_area :body %></div>
<%= f.submit 'Create Book' %>
<% end %>

<% else %>
<%= form_with model: @book do |f| %>
<p class="new">Title</p>
<%= f.text_field :title %>
<p class="new">Body</p>
<%= f.text_area :body %>
<%= f.submit 'Create Book' %>
<% end %>
<% end %>
</body>