<body class="main">
<h1>Books</h1>

<div class="index">
<div>Title</div>
<div>Body</div>
</div>

<div class="index">
<% @books.each do |book| %>
<p><%= book.title %></p>
<p><%= book.body %></p>
<%= link_to "Show", book_path(book.id) %>
<%= link_to "Edit", edit_book_path(book.id) %>
<%= link_to "Destroy", destroy_book_path(book.id), method: :delete, "data-confirm" => "本当削除しますか" %>
<% end %>
</div>


<h2>New book</h2>
<%= form_with model: @new do |f| %>
<p class="new">Title</p>
<%= f.text_field :title %>
<p class="new">Body</p>
<%= f.text_area :body %>
<%= f.submit 'Create Book' %>
<% end %>
</body>